/* Global styles come from external css https://codepen.io/GreenSock/pen/gOWxmWG */

body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  
  .box {
    display: block;
  }